[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  df = diff
  lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all

[merge]
  tool = nvimdiff

[mergetool "nvimdiff"]
  cmd = nvim -f -c 'Gvdiffsplit!' $MERGED

[core]
  pager = diff-so-fancy | less --tabs=4 -RFX
  editor = nvim

[interactive]
  diffFilter = diff-so-fancy --patch

[user]
  name = Junerey
  email = junerey.casuga@gmail.com

[init]
  defaultBranch = main

[includeIf "gitdir:~/Developer/salaryhero/"]
  path = ~/.gitconfig-sh

